@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600);


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
	display: inline-block;
}
a{
	text-decoration: none !important;
	color:#fff;
}
/*
a span{
	font-size: 7pt;
}*/

a:focus,
a:visited,
a:active,
a:hover{
	outline: none;
}

@keyframes zoom1 {
	0% 			{ transform: scale3d(1,1,1);}
	20% 		{ transform: scale3d(1.2,1.2,1.2);}
	40% 		{ transform: scale3d(1,1,1);}
	60%			{ transform: scale3d(1,1,1);}
	80%			{ transform: scale3d(1,1,1);}
	100% 		{ transform: scale3d(1,1,1);}
}

@-webkit-keyframes zoom1 {
	0% 			{ transform: scale3d(1,1,1);}
	20% 		{ transform: scale3d(1.2,1.2,1.2);}
	40% 		{ transform: scale3d(1,1,1);}
	60%			{ transform: scale3d(1,1,1);}
	80%			{ transform: scale3d(1,1,1);}
	100% 		{ transform: scale3d(1,1,1);}
}



@keyframes zoom2 {
	0% 			{ transform: scale3d(1,1,1);}
	20% 		{ transform: scale3d(1,1,1);}
	40% 		{ transform: scale3d(1.2,1.2,1.2);}
	60%			{ transform: scale3d(1,1,1);}
	80%			{ transform: scale3d(1,1,1);}
	100% 		{ transform: scale3d(1,1,1);}
}



@keyframes zoom3 {
	0% 			{ transform: scale3d(1,1,1);}
	20% 		{ transform: scale3d(1,1,1);}
	40% 		{ transform: scale3d(1,1,1);}
	60%			{ transform: scale3d(1.2,1.2,1.2);}
	80%			{ transform: scale3d(1,1,1);}
	100% 		{ transform: scale3d(1,1,1);}
}



@keyframes zoom4 {
	0% 			{ transform: scale3d(1,1,1);}
	20% 		{ transform: scale3d(1,1,1);}
	40% 		{ transform: scale3d(1,1,1);}
	60%			{ transform: scale3d(1,1,1);}
	80%			{ transform: scale3d(1.2,1.2,1.2);}
	100% 		{ transform: scale3d(1,1,1);}
}



.nav-top-right-icon a:focus,
.nav-top-right-icon a:visited,
.nav-top-right-icon a:active,
.nav-top-right-icon a:hover{
	outline: none;
	text-decoration: none;
	color: #fff;
}
html,body{
	width: 100%;
	font-family: 'Dosis', sans-serif !important;
	color:#fff;
	height: 100%;
}

body{
	background: url('') 0 0 no-repeat;
	background-size: 100% 100%;
}

.wrapper{
	width:500px;
	margin-left: auto;
	margin-right: auto;
}

header{
	padding: 20px 0;
	background: rgba(0,0,0,0.70);
	width: 100%;
	transition: 0.2s all linear 0s;
	position: fixed;
	top: 0;
	z-index: 1;
}
/*nav{
	height:50px;
	box-shadow: 0 0 2px black;
}*/

nav>div{
	margin: 0 20px;
}

header.fixed{
	position: fixed;
	top:0;
	z-index: 5;
	padding: 5px 0;
}

header.fixed .nav-top-right-icon .icon-img,
header.fixed .nav-top-left .title-name{
	font-size: 15pt;
}

header.fixed .nav-top-right-icon [class^="icon-text"]{
	font-size: 10pt;
}

.nav-top-left{
	float:left;
	height: 50px;
	line-height: 50px;
}
.nav-top-left:after,
.nav-top-left:before{
	clear:both;
}

.nav-top-left div{
	display: inline-block;
	vertical-align: middle;
}

.nav-top-left .title-image{
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: 1px solid white;
	margin: 0 10px 0 40px;
	position: relative;
	background: url(../images/Ashwin.jpg) 0 0 no-repeat;
	background-size: 100%;
}

.nav-top-left .title-name{
	font-size: 20pt;
	line-height: 50px;
	transition: 0.2s all linear 0s;
	-moz-transition: 0.2s all linear 0s;
}

.nav-top-right{
	float:right;
	height:50px;
}
.nav-top-right:after,
.nav-top-right:before{
	clear:both;
}

.nav-top-right-icons{
	height: 100%;
	display: inline-block;
}

.nav-top-right-icon{
	display: table-cell;
	height: 50px;
	vertical-align: middle;
	width: auto;
}

.nav-top-right-icon div{
	display: inline-block;
	vertical-align: middle;
}
.nav-top-right-icon .icon-img{
	height:40px;
	width: 40px;
	margin: 0 0 0 8px;		
}

.nav-top-right-icon .icon-img{
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	font-size: 20pt;
	transition: 0.2s all linear 0s;
}

.nav-top-right-icon [class^='icon-text']{
	display: inline-block;
	white-space: nowrap;
	width: 0px;
	overflow: hidden;
	transition: 0.2s all ease-in;
	-webkit-transition: 0.2s all ease-in;
}

.nav-top-right-icon:hover .icon-text1{
	width: 50px;
}
.nav-top-right-icon:hover .icon-text2{
	width: 30px;
}
.nav-top-right-icon:hover .icon-text3{
	width: 30px;
}
.nav-top-right-icon:hover .icon-text4{
	width: 44px;
}
.nav-top-right-icon:hover .icon-text5{
	width: 60px;
}

.desktop{
	display: table-cell;
}

.tab{
	display: none;
}

footer{
	border-radius: 10px 10px 0 0;
    margin-top: 10px;
    padding: 9px 15px 0px;
    position: fixed;
    bottom: 0;
}
footer>div>div{
	margin-top: 5px;
	font-size: 8pt;
}
footer>div>div,
footer>div>ul{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

footer>div>div{
	color: #c0c0c0;
}

footer>div>div div{
	display: block;
}

footer #sclz{
	display: none;
	color: #000;
}
.social a{
	height: auto;
	width: auto;
	display: inline-block;
}
.social .social-icon{
	height:30px;
	width: 30px;
	line-height: 1;
	text-align: center;
	display: table-cell;
	font-size: 14pt;
	vertical-align: middle;
}
.social .social-icon{
	color:#fff;
	border:1px solid #fff;
}

.fb:hover{
	color:#3b5998;
	border:1px solid #3b5998;
	background-color: transparent;
}
.fb{
	background-color: #3b5998;
	animation: zoom4 2s linear 0s infinite;
	-webkit-animation: zoom4 2s linear 0s infinite;
}
.twt:hover{
	color:#4099ff;
	border:1px solid #4099ff;
	background-color: transparent;
}
.twt{
	background-color: #4099ff;
}
.lnkd:hover{
	color:#007bb6;
	border:1px solid #007bb6;
	background-color: transparent;
}
.lnkd{
	background-color: #007bb6;
	animation: zoom1 2s linear 0s infinite;
	-webkit-animation: zoom1 2s linear 0s infinite;
}

.gp:hover{
	color:#dd4b39;
	border:1px solid #dd4b39;
	background-color:transparent;
}
.gp{
	background-color:#dd4b39;
	animation: zoom3 2s linear 0s infinite;
	-webkit-animation: zoom3 2s linear 0s infinite;
}
.gh:hover{
	color:#4a4a4a;
	background-color: transparent;
	border:1px solid #4a4a4a;
}
.gh{
	color:#fff;
	background-color: #4a4a4a;
	border:1px solid #4a4a4a;
	animation: zoom2 2s linear 0s infinite;
	-webkit-animation: zoom2 2s linear 0s infinite;
}
}
.snow{
	background: url(../images/servicenow-icon.png) 0 0 no-repeat;
	background-size:70%;
	background-position:center center;
	border:1px solid #fff;
	background-color:#D1232B;
}
.snow:hover{
	border:1px solid #D1232B;
	background-color:transparent;
}
.india{
	background: url(../images/ashok.png) 0 0 no-repeat;
	width: 40px !important;
	background-size:70%;
	background-color:white;
	background-position:center center;
	border:1px solid #fff;
}
.india:hover{
	background: url(../images/india.png) 0 0 no-repeat;
	background-size:100% 100%;
	background-position:center center;
}

.main-body{
	width: 100%;
	position: relative;
	padding: 0px;
	min-height: 100%;
	height: 100%;
}
.main-body:after,
.main-body:before{
	clear:both;
}
.angular-starts-here{
	position: relative;
	height: 100%;
}

#resolution{
	position: fixed;
	bottom: 0;
	right: 0;
	color:#fff;
	padding: 5px;
	font-size: 7pt;
}

@media(max-width:980px){
	.nav-top-left,
	.nav-top-right {
		float:none;
		display: block;
		text-align: center;
	}

	.nav-top-left .title-image{
		display: none;
	}
	footer{
		position: static;
		margin: 0;
		padding: 0;
	}
	footer #sclz{
		display: block;
		padding: 10px;
		text-align: center;
	}

	#resolution{
		position: static;
		text-align: center;
		color: #c0c0c0;
	}

	.desktop{
		display: none;
	}

	.tab{
		display: table-cell;
	}

}

/*Global*/

.show{
	display: block;
}

.hide{
	display: none;
}


@keyframes rotateFall {
	0% 		{ transform: rotateZ(0deg); }
	20% 	{ transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% 	{ transform: rotateZ(17deg); }
	60% 	{ transform: rotateZ(16deg); }
	100% 	{ transform: translateY(100%) rotateZ(17deg); }
}

@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}

@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}

@keyframes dateHoist {
	0% 			{ transform: rotateX(15deg); }
	25% 		{ transform: rotateX(0deg); }
	50% 		{ transform: rotateX(-15deg); }
	75% 		{ transform: rotateX(0deg); }
	100% 		{ transform: rotateX(15deg); }
}


.ng-enter{
	animation:slideInUp 1.5s both ease-in;
}
.ng-leave{
	transform-origin: 0% 0%; 
	animation: rotateFall 1s both ease-in;
}


/*Resume Page*/

.nopdfplugin{
	width: 100%;
	height: 100%;
}

.nopdfplugin p{
	position: relative;
	top:40%;
	text-align: center;
}

.resumeContainer{
	width: 100%;
	height: 100%;
	min-height: 100%;
	padding:90px 0 50px;
	overflow: hidden;
	background: rgba(60,60,60,1);
}


/*Contact Page*/

#contactForm{
	min-height: 100%;
	width: 100%;
	color:#fff;
	overflow-x:hidden;
	overflow-y:auto;
	background: url(../images/bg_red.jpg) 50% 50% no-repeat fixed;
	background-size: cover;
}

.wrapper{
	display: block;
	width:60%;
	margin-left: auto;
	margin-right: auto;
	padding: 90px 20px;
	box-sizing:border-box;
}

.wrapper .headerText{
	text-align: center;
	font-size: 16pt;
	margin-top: 20px;
}
.leftCol,
.rightCol{
	width:100%;
}

.leftCol input{
	background: transparent;
	color: #fff;
	display: block;
	width: 100%;
	height: 35px;
	border: 1px solid #fff;
	padding:10px;
}

#youAre{
	display: block;
	padding-bottom: 10px;
	width: 100%;
	margin-top: 20px;
	text-transform: uppercase;

}

.rightCol label{
	padding-bottom: 10px;
	width: 100%;
	text-transform: uppercase;
	margin-top: 20px;
}

#myForm{
	margin-top: 30px;
}

.fancySelect{
	position: relative;
}
.btnSend{
	text-align: center;
	text-transform: uppercase;
	font-size: 14pt;
	background-color: #fff;
	border-radius: 5px;
	position: relative;
	left:calc(50% - 90px);
	margin-top: 30px;
	height: 40px;
	width: 180px;
	color: #c0194f;
	border:0;
}

#contactForm textarea {
	padding: 10px;
	width: 100%;
	height: 100px;
	font-size: 12pt;
	color: #fff;
	background: 0 0;
	border-top: 5px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	overflow: auto;
}

.fancy-select{
	position: relative;
}
.trigger{
	width: 100%;
	border: 1px solid #fff;
	background: 0;
	height: 35px;
	line-height: 35px;
	padding: 0px 10px;
	text-transform:uppercase;
	font-size: 11pt;
	position: relative;
}

div.fancy-select div.trigger:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #fff;
	top: 15px;
	right: 15px;
}

div.fancy-select ul{
	display: block;
	position: absolute;
	top: 34px;
	left:0;
	width: 100%;	
	margin-top: 5px;
	background-color: #fff;
	overflow: hidden;
}

div.fancy-select ul li{
	display: block;
	width: 100%;
	padding: 0px 15px;
	height:30px;
	line-height: 30px;
	background-color: #23175d;
}

div.fancy-select ul li:hover{
	background-color: #fff;
	color:#23175d;;
}

.invalid
{
	border-color: #f16828;
}

.submitLoader{
	background:url('../images/716.GIF') no-repeat;
	height:20px;
	width:73px;
	background-size:100% 100%;
	display:none;
	margin:0 auto;
}

/*Skills Page*/

#skillspage{
	width: 100%;
	color:#000;
	overflow-x:hidden;
	overflow-y:auto;
	padding: 90px 0;
}

.tileContainer{
	width:51%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.section{
	border-bottom: 1px dashed #000;
	font-size: 18pt;
	height: 40px;
	line-height: 40px;
	margin-top: 31px;
	text-transform: uppercase;
}

.section1{
	border-bottom: 1px dashed #000;
	font-size: 18pt;
	height: 40px;
	line-height: 40px;
	margin-top: 15px;
	text-transform: uppercase;
}

.section2{
	text-align: center;
	text-transform: uppercase;
	font-size: 6pt;
}

.tile{
	position: relative;
	border: 1px solid #fff;
	display: inline-block;
	height: 150px;
	margin: 15px;
	width: 150px;
	overflow: hidden;
	color: #fff;
}

.tile .icon{
	height: 150px;
	width: 150px;
	position: absolute;
	color: #000;
	line-height: 150px;
	text-align: center;
	text-transform: uppercase;
	font-size: 50pt;
	z-index: 1;
}

.tile .popwindow{
	height: 150px;
	width: 150px;
	position: absolute;
	display: block;
	line-height: 75px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #000;
	opacity: 0.6;
}

.tile:hover .popwindow{
	display: none;

}

.prof{
	position: relative;
	top: -10px;
}
.stars{
	position: relative;
	top: 10px;
}

.html{
	border-color: rgb(228,77,38);
}

.html .icon{
	background: url(../images/html.png) 0 0 no-repeat;
	background-position: center;
	background-size: 45%;
}

.css3{
	border-color: rgb(65,155,216);
}
.css3 .icon{
	background: url(../images/css.png) 0 0 no-repeat;
	background-position: center;
	background-size: 50%;
}

.jss{
	border-color: rgb(214,186,49);
}
.jss .icon{
	background: url(../images/jss.png) 0 0 no-repeat;
	background-position: center;
	background-size: 42%;
}

.oojs{
	border-color: rgb(241,218,78);
}
.oojs .icon{
	background: url(../images/oopinjs.jpeg) 0 0 no-repeat;
	background-position: center;
	background-size: 45%;
}

.json{
	border-color: rgb(44,44,44);
}
.json .icon{
	background: url(../images/json.png) 0 0 no-repeat;
	background-position: center;
	background-size: 45%;
}

.xml{
	border-color: rgb(255,102,0);
}
.xml .icon{
	background: url(../images/xml.gif) 0 0 no-repeat;
	background-position: center;
	background-size: 60%;
}

.ajax{
	border-color: rgb(0,115,189);
}
.ajax .icon{
	background: url(../images/ajax.gif) 0 0 no-repeat;
	background-position: center;
	background-size: 55%;
}


.git{
	border-color: rgb(240,80,51);
}
.git .icon{
	background: url(../images/git.png) 0 0 no-repeat;
	background-position: center;
	background-size: 42%;
}


.svn{
	border-color: rgb(173,199,254);
}
.svn .icon{
	background: url(../images/svn.png) 0 0 no-repeat;
	background-position: center;
	background-size: 50%;
}

.mongodb .icon{
	background: url(../images/mongodb.png) 0 0 no-repeat;
	background-position: center;
	background-size: 80%;
}

.jq{
	border-color: rgb(17,104,173);
}
.jq .icon{
	background: url(../images/jquery.png) 0 0 no-repeat;
	background-position: center;
	background-size: 45%;
}

.jqui{
	border-color: rgb(250,165,35);
}
.jqui .icon{
	background: url(../images/jqui.png) 0 0 no-repeat;
	background-position: center;
	background-size: 60%;
}

.prototype{
	border-color: rgb(0,100,255);
}
.prototype .icon{
	background: url(../images/prototype.png) 0 0 no-repeat;
	background-position: center;
	background-size: 50%;
}

.anglr{
	border-color: rgb(184,41,52);
}
.anglr .icon{
	background: url(../images/angularjs.png) 0 0 no-repeat;
	background-position: center;
	background-size: 50%;
}

.bootstrp{
	border-color: rgb(87,55,134);
}
.bootstrp .icon{
	background: url("../images/bootstrap.png") no-repeat scroll 50% 50% / 50% auto rgba(0, 0, 0, 0);
}

.bkbn{
	border-color: rgb(0,42,65);
}
.bkbn .icon{
	background: url(../images/backbone.png) 0 0 no-repeat;
	background-position: center;
	background-size: 50%;
}

.nodejs .icon{
	background: url("../images/node.png") no-repeat scroll 50% 25% / 50% auto rgba(0, 0, 0, 0);
	background-size: 70%;
}

.exprs .icon{
	background: url(../images/express.png) 0 0 no-repeat;
	background-position: center;
	background-size: 50%;
}

.VS{
	border-color: rgb(0,113,185);
}
.VS .icon{
	background: url(../images/vs.png) 0 0 no-repeat;
	background-position: center;
	background-size: 50%;
}

.eclipse{
	border-color: rgb(37,0,68);
}
.eclipse .icon{
	background: url(../images/eclipse.png) 0 0 no-repeat;
	background-position: center;
	background-size: 45%;
}

.sublime{
	border-color: rgb(255,129,0);
}
.sublime .icon{
	background: url(../images/sublime.svg) 0 0 no-repeat;
	background-position: center;
	background-size: 50%;
}

.npp{
	border-color: rgb(98,208,44);
}
.npp .icon{
	background: url(../images/npp.png) 0 0 no-repeat;
	background-position: center;
	background-size: 50%;
}

.firebug{
	border-color: rgb(246,136,37);
}
.firebug .icon{
	background: url(../images/firebug.png) 0 0 no-repeat;
	background-position: center;
	background-size: 50%;
}

.cdd{
	border-color: rgb(213,63,52);
}
.cdd .icon{
	background: url(../images/cdd.png) 0 0 no-repeat;
	background-position: center;
	background-size: 50%;
}

.grunt{
	border-color: rgb(251,169,25);
}
.grunt .icon{
	background: url(../images/grunt.png) 0 0 no-repeat;
	background-position: center;
	background-size: 50%;
}

.bower{
	border-color: rgb(43,175,43);
}
.bower .icon{
	background: url(../images/bower.png) 0 0 no-repeat;
	background-position: center;
	background-size: 50%;
}

/*Profile page*/

.profile
{
	width: 100%;
	min-height: 100%;
	background: #98E0ED;
	overflow: hidden;
	padding: 90px 0;
	background: url('../images/bg2.jpg') 0 0 fixed no-repeat;
	background-size: cover;
}
.intro:hover{
	transform: scale3d(1.1,1.1,1) skew(-4deg, 0deg);
	margin-bottom: 30px;
	margin-top: 30px;
}
.intro{
	transform: skew(-4deg, 0deg) ;
-webkit-transform: skew(-4deg, 0deg) ;
-moz-transform: skew(-4deg, 0deg) ;
-o-transform: skew(-4deg, 0deg) ;
-ms-transform: skew(-4deg, 0deg) ;
box-shadow: 0 4px 6px rgba(0,0,0,0.55);
width: 40%;
margin: 20px auto 0;
padding: 10px;
border: 5px solid rgb(45,67,71);
border-radius: 10px;
color: rgb(45,67,71);
background: #fff;
font-size: 14pt;
transition: all 0.5s linear;
text-align: center;
}

.intro a{
	color:rgb(45,67,71);
}

.intro a:hover{
	color:rgb(45,67,71);
}

#toggleTimeLine{
	background-color: rgb(45,67,71);
	color:#fff;
    border: 0 none;
    border-radius: 5px;
    font-size: 14pt;
    height: 40px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin: 50px auto;
    width: 180px;
    line-height: 40px;
    cursor: pointer;
}

.intro a span{
	font-size: 7pt;
	line-height: 100%;
}

.profileContainer{
	display: none;
}
.tWrapper:before,
.tWrapper:after{
	content: '';
	position: absolute;
}

.tWrapper:before{
	left: calc(50% - 2px);
	width: 0;
	height: 100%;
	border-left: 5px dashed black;
}

.tWrapper:after{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 5px solid black;
	top: calc(50% - 12px);
	left: calc(50% - 12px);
	background:rgb(255,255,255);
}

.perspectiveTile{
	perspective:400px;
}

.perspectiveTile.right {
	margin-left: 55%;
	margin-right: 2%;
}
.perspectiveTile.left {
	text-align: right;
	margin-right: 55%;
	margin-left: 2%;
}


.pTile{
	height:auto;
	padding:15px;
	box-sizing:border-box;
	box-shadow: 0 4px 6px rgba(0,0,0,0.55);
	position: relative;
	background: #fff;
	color:#000;
}


.perspectiveTile.right .pTile{
	transform: rotateY(10deg);
	transform-origin: left;
	transform-style: preserve-3d;
}

.perspectiveTile.left .pTile{
	transform: rotateY(-10deg);
	transform-origin: right;
	transform-style: preserve-3d;
}

.perspectiveTile .pTile:hover{
	transform: rotateY(0deg);
}

.perspectiveTile .pTile div.para{
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s linear;
}

.perspectiveTile .pTile:hover div.para{
	max-height: 300px;
	overflow: hidden;
	transition: max-height 0.5s linear;
}

.perspectiveTile.left .pTile{
	border-right: 5px solid black;
}

.perspectiveTile.right .pTile{
	border-left: 5px solid black;
}

.perspectiveTile.left .pTile:before{
	content: "";
	width: 0;
	position: absolute;
	border-left: 10px solid black;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	right: -14px;
	top: calc(50% - 10px);
}

.perspectiveTile.right .pTile:before{
	content: "";
	width: 0;
	position: absolute;
	border-right: 10px solid black;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	left: -14px;
	top: calc(50% - 10px);
}

.perspectiveTile.left .pTile:after{
	content: '';
	position: absolute;
	height: 8px;
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAJklEQVQIW2NkQAX/gVxGmBCcARSAScAVwCRRdMAUgiTRJWCm/gcAYYwHBP2v65AAAAAASUVORK5CYII=) repeat-x;
	right: calc(-12.5%);
	top: calc(50% - 2px);
	width: calc(12%);
}

.perspectiveTile.right .pTile:after{
	content: '';
	position: absolute;
	height: 8px;
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAJklEQVQIW2NkQAX/gVxGmBCcARSAScAVwCRRdMAUgiTRJWCm/gcAYYwHBP2v65AAAAAASUVORK5CYII=) repeat-x;
	left: calc(-11%);
	top: calc(50% - 2px);
	width: calc(11%);
}

.tWrapper{
	width: 100%;
	position: relative;
	height: auto;
	box-sizing:border-box;
	padding: 15px 0;
}

.perspectiveTile .pTile{
	transition: transform 0.6s cubic-bezier(.59,1.45,.69,.98) 0.2s;
}

.perspectiveTile.right .pTile .date{
	position: absolute;
	top: calc(100% - 15px);
	right: 20px;
	font-size: 10pt;
	background-color: rgb(176,22,72);
	color: white;
	padding: 3px;
	margin: 15px 15px 0 0;
}

.perspectiveTile.left .pTile .date{
	position: absolute;
	top: calc(100% - 15px);
	left: 20px;
	font-size: 10pt;
	background-color: rgb(176,22,72);
	color: white;
	padding: 3px;
	margin: 15px 15px 0 0;
	animation: dateHoist 1.5s linear infinte;
}

.tWrapper.blank{
	height: 200px;
	padding-top: 0px;
}
.tWrapper.blank:after{
	content: none;
}

.tWrapper.blank1{
	height: 50px;
	padding-top: 0px;
}
.tWrapper.blank1:after{
	content: none;
}



/* Media Queries*/


@media(max-width:980px){
	#skillspage,
	.profile{
		padding: 140px 0px 0px;
	}

	.tileContainer{
		text-align: center;
	}

	#contactForm{
		padding: 140px 0px 20px;
	}

	.wrapper{
		padding: 0px 0px 20px;
	}

	.main-body{
		height: auto;
	}
	
	.intro{
		transform: none;
		width: 90%;
	}

	.intro:hover{
		transform: none;
		margin: 20px auto 0;
}

}